* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/Images/Backgroundimg.png);
    background-size: 100vw 100vh;
}

/* container for anything in body */
.wrapper {
    width:  100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
}

.header-background {
    background-color: black;
}

header {
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(8, 8, 8);
    align-self: end;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}
/* container for my beautiful face 
so i can move it around in grid for layout*/
.profilePic {
    align-self: center;
    border-style: solid;
    border-width: 1px;
    width: 35vw;
    height: 20vw;
    grid-column: 2;
    grid-row: 1;
    border-radius: 50%;
}

nav {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 1;
}

main {
    font-family: "Pixelify Sans", sans-serif;
    color: black;    
    grid-column: 2;
    text-align: center;
}

footer {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);   
    text-align: center;
    grid-column: 1 /-1;
    align-self: end;
}

@media only screen and (max-width: 400px) {
    nav, footer, header {
        font-size: 10px;
    }
}

/* container for the buttons and the text/icons within */
.btn { 
    display: inline-flex;
    height:25px;
    font-family: "Pixelify Sans", sans-serif;
    padding: 0;
    background: rgb(250, 186, 179);
    border: 0.1em solid rgb(117, 90, 235);
    outline: none;
    border-radius: 10%;
    cursor: pointer;
    padding: 0;
    transition-duration: 500ms;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
} 

.btn:hover{
    background: rgb(129, 108, 221);
}

.btn:active{
    background: rgb(86, 63, 218);
}

.button-text, .button-icon {
    font-family: "Pixelify Sans", sans-serif;
    display: inline-flex;
    align-items: center;
    padding: 0 2px;
    height: 100%;
 }




