* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#profPicContainer {
    display: flex;
}
    
.top-nav a {
    display: relative; 
    font-weight: bold;
    font-style: italic;
    font-size: 1.5vw;
}

.mainProfPic {
    display: flex;
    justify-content: flex-end;
    width: 20vw;
    height: 20vw;
    border-radius: 90%;
}


